{% extends "base.html" %}
{% load static humanize %}



    {% block content %}
    <main class="no-main">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="ps-breadcrumb__list">
                    <li class="active"><a href="/">Home</a></li>
                 
                    <li><a href="javascript:void(0);">{{category}}</a></li>
                </ul>
            </div>
        </div>
        <section class="section-shop shop-categories--default">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <div class="ps-shop--sidebar">
                          
                            <div class="sidebar__sort">
                              
                                <div class="sidebar__block open">
                                    <div class="sidebar__title">BY PRICE<span class="shop-widget-toggle"><i class="icon-minus"></i></span></div>
                                    <div class="block__content">
                                        
                                        <div class="block__input">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">₦</span></div>
                                                <input class="form-control" type="text" id="input-with-keypress-0">
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">₦</span></div>
                                                <input class="form-control" type="text" id="input-with-keypress-1">
                                            </div>
                                            <button>Go</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar__block open">
                                    <div class="sidebar__title">AVG. REVIEW<span class="shop-widget-toggle"><i class="icon-minus"></i></span></div>
                                    <div class="block__content">
                                        <ul>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="avg5" value="">
                                                    <label for="rating5">
                                                        <select class="rating-stars" id="rating5">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5" selected="selected">5</option>
                                                        </select><span class="text-up">& Up</span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="avg4" value="">
                                                    <label for="rating4">
                                                        <select class="rating-stars" id="rating4">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4" selected="selected">4</option>
                                                            <option value="5">5</option>
                                                        </select><span class="text-up">& Up</span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="avg3" value="">
                                                    <label for="rating3">
                                                        <select class="rating-stars" id="rating3">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3" selected="selected">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select><span class="text-up">& Up</span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="avg2" value="">
                                                    <label for="rating2">
                                                        <select class="rating-stars" id="rating2">
                                                            <option value="1">1</option>
                                                            <option value="2" selected="selected">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select><span class="text-up">& Up</span>
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="avg1" value="">
                                                    <label for="rating1">
                                                        <select class="rating-stars" id="rating1">
                                                            <option value="1" selected="selected">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select><span class="text-up">& Up</span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="category__top">
                            <div class="category__header">
                                <h3 class="category__name">{{category}}</h3>
                                
                            </div>
                            <p class="category__des"><b class='text-black'>Fresh food</b> is food which has not been preserved and has not spoiled yet. For vegetables and fruits, this means that they have been recently harvested and treated properly postharvest; for meat, it has recently been slaughtered and butchered; for fish, it has been recently caught or harvested and kept cold.</p>
                    </div>
                        <div class="result__header">
                            <h4 class="title">{{count}}<span>Product Found</span></h4>
                           
                        </div>
                     
                        <div class="result__header mobile">
                            <h4 class="title">{{count}}<span>Product Found</span></h4>
                        </div>
                        <div class="result__content mt-4">
                            <div class="section-shop--grid">
                                <div class="row m-0">
                                    {%for p in products %}
                                    <div class="col-6 col-md-4 col-lg-3 p-0">
                                        <div class="ps-product--standard"><a href="{{p.get_absolute_url}}"><img class="ps-product__thumbnail" src="{{p.image.url}}" alt="alt" /></a> {%if p.stock <= 0 %} <span class="ps-badge ps-product__stock">Out Of Stock</span> {%endif%}
                                            <div class="ps-product__content">
                                                <p class="ps-product__type"><i class="icon-store"></i>NEXT</p>
                                                <h5><a class="ps-product__name" href="{{p.get_absolute_url}}">{{p.product_name | title}}</a></h5>
                                                <p class="ps-product__unit">300g</p>
                                                <div class="ps-product__rating">
                                                    <select name="rating" class="rating-stars">
                                                        <option value="1" {%if p.averageReview == 1 %} selected="selected" {%endif%} >1</option>
                                                        <option value="2" {%if p.averageReview == 2 %} selected="selected" {%endif%} >2</option>
                                                        <option value="3" {%if p.averageReview == 3 %} selected="selected" {%endif%} >3</option>
                                                        <option value="4"  {%if p.averageReview == 4 %} selected="selected" {%endif%} >4</option>
                                                        <option value="5" {%if p.averageReview == 5 %} selected="selected" {%endif%} >5</option>
                                                        </select>
                                                        <span>({{p.averageReview}}) </span>
                                                </div>
                                                <p class="ps-product-price-block"><span class="ps-product__sale">₦{{p.price | intcomma}}</span>
                                                    {%if p.old_price %}
                                                    <span class="ps-product__price">₦{{p.old_price | intcomma}}</span>
                                                    {%endif%}
                                                </p>
                                            </div>
                                            <div class="ps-product__footer">
                                               
                                                <div class="ps-product__footer">
                                                    {%if p.stock <= 0 %}
                                                    <a class="btn btn-danger w-100" href="{{p.get_absolute_url}}"> <span style="color:white; font-size:14px; font-weight:bold;">Out Of Stock</span> </a>
                                                    {%else%}
                                                    <a class="btn btn-primary w-100" href="{{p.get_absolute_url}}"> <span style="color:white; font-size:14px; font-weight:bold;">Add To Cart</span> </a>
                                                    {%endif%}
                                                </div>
                                    
                                               
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>

                            <div class="ps-pagination blog--pagination">
                                <ul class="pagination">
                                    {% if products.has_previous %}
                                    <li class="chevron"><a href="?page={{ products.previous_page_number }}"><i class="icon-chevron-left"></i></a></li>
                                    {% endif %}
                                    {%for num in products.paginator.page_range %}
                                    {%if products.number == num %}
                                    <li class="active"><a href="?page={{num}}">{{num}}</a></li>
                                    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                    <li class=""><a href="?page={{num}}">{{num}}</a></li>
                                    {%endif%}
                                    {%endfor%}
                                    {% if products.has_next %}
                                    <li class="chevron"><a href="?page={{products.next_page_number }}"><i class="icon-chevron-right"></i></a></li>
                                    {% endif %}


                                </ul>
                            </div>
                            
                           

                        </div>
                    </div>
                </div>
            </div>
        </section>
       
      
    </main>
    {% endblock %}
    