
{% block title %}{{categories.category}} list of items{% endblock %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/">🏠</a></li>
	{% for node in categories_list %}
	<li class="breadcrumb-item">
		<a href="{{node.get_absolute_url}}">{{node.category}}</a></li>
    	{% endfor %}
	<li class="breadcrumb-item active" aria-current="page">{{ categories }}</li>
    </ol>
</nav>
{% block content %}
<main>
    <section>
	<div class="container">
	    <h1>{{categories}} item</h1>
	 
	</div>
    </section>

	<div>
		{% for item in queryset %}
		<div>
		    <a href="{{item.get_absolute_url}}">
				<p>{{item.product_name}}</p>
		    </a>
		</div>
		{% endfor %}



    </div>
</main>
{% endblock %}