{% extends "base.html" %}
{% load static humanize  crispy_forms_tags %}
{% block title %}Order Checkout{% endblock %}


{% block content %}
    <main class="no-main">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="ps-breadcrumb__list">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="javascript:void(0);">Checkout</a></li>
                </ul>
            </div>
        </div>
        <section class="section--checkout">
            <div class="container">
                <h2 class="page__title">Checkout</h2>
                <div class="checkout__content">
                   
                    <form method="post" action="{%url 'place_order' %}">
                        {% csrf_token %}

                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <h3 class="checkout__title">Billing Details</h3>
                            <div class="checkout__form">
                                    <div class="form-row">

                                        <div class="col-12  form-group--block">
                                            {{form|crispy }}
                                        </div>
                                       
                                    </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <h3 class="checkout__title">Your Order</h3>
                            <div class="checkout__products">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="checkout__label">PRODUCT</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="checkout__label">TOTAL</div>
                                    </div>
                                </div>
                                <div class="checkout__list">
                                    {%for p in cart_items %}
                                    <div class="checkout__product__item">
                                        <div class="checkout-product">
                                            <div class="product__name">{{p.product.product_name | title}}<span>(x{{p.quantity}})</span></div>
                                           {%if p.product_variation.all %}
                                           {%for variations in p.product_variation.all %}
                                            <div class="product__unit">{{variations.variations_category | title}}: {{variations.variation_value | title}} </div>
                                            {%endfor%}
                                            {%endif%}
                                        </div>
                                        <div class="checkout-price">₦{{p.product.price | intcomma}}</div>
                                    </div>
                                    {%endfor%}
                                    
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <div class="checkout__label">Subtotal</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="checkout__label">₦{{total | intcomma}}</div>
                                    </div><hr>
                                    <div class="col-8">
                                        <div class="checkout__label">Shipping Rate</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="checkout__label">₦{{shipping_rate_per_quantity | intcomma}}</div>
                                    </div>
                                </div>
                               <hr>
                                <div class="row">
                                    <div class="col-8">
                                        <div class="checkout__total">Total</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="checkout__money">₦{{grandtotal | intcomma}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__payment">
                                <div class="checkout__label mb-3">SELECT PAYMENT</div>
                                <div class="form-group--block">
                                    <input class="form-check-input" type="checkbox" id="checkboxBank" value="bank">
                                    <label class="label-checkbox" for="checkboxBank"><b class="text-heading">Direct bank transfer</b></label>
                                </div>
                                <div class="form-group--block">
                                    <input class="form-check-input" type="checkbox" value="cash" id="checkboxCash" checked="checked">
                                    <label class="label-checkbox" for="checkboxCash"><b class="text-heading">Cash on delivery</b></label>
                                </div>
                                <div class="checkout__payment__detail">Pay with cash upon delivery
                                    <div class="triangle-box">
                                        <div class="triangle"></div>
                                    </div>
                                </div>
                                <div class="form-group--block">
                                    <input class="form-check-input" type="checkbox" id="checkboxPaypal" value="paypal">
                                    <label class="label-checkbox" for="checkboxPaypal"><b class="text-heading">PayPal </b><img src="img/promotion/payment_visa.jpg" alt><img src="img/promotion/payment_mastercart.jpg" alt><img src="img/promotion/payment_electron.jpg" alt><a>What is PayPal?</a></label>
                                </div>
                            </div>
                            <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <span class="text-success">privacy policy.</span></p>
                            <div class="form-group--block">
                                <input class="form-check-input" type="checkbox" id="checkboxAgree" value="agree">
                                <label class="label-checkbox" for="checkboxAgree"><b class="text-heading">I have read and agree to the website
                      <u class="text-success">terms and conditions  </u><span>*</span></b></label>
                            </div><button class="checkout__order" href="order-tracking.html">Place an order</button>
                        </div>
                    </div>
                </form>

                </div>
            </div>
        </section>
    </main>
{% endblock %}
   