{% extends "base.html" %}
{% load static humanize  crispy_forms_tags %}
{% block title %}Order Checkout{% endblock %}


{% block content %}
    <main class="no-main">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="ps-breadcrumb__list">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="javascript:void(0);">Checkout</a></li>
                </ul>
            </div>
        </div>
        <section class="section--checkout">
            <div class="container">
                <h2 class="page__title">Checkout</h2>
                <div class="checkout__content">
                   
                    <form method="post" action="{%url 'place_order' %}">
                        {% csrf_token %}

                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <h3 class="checkout__title">Shipping Address</h3>
                            {% if messages %}
                            {% for message in messages %}
                            {%if "warning" in message.extra_tags %} 
                    
                            <div {% if message.extra_tags %} class="alert alert-{{ message.extra_tags }}  {% endif %} alert-dismissible fade show" role="alert">
                               {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            {%endif%}
                            {% endfor %}
                            {% endif %}
                            
                            {% if default_shipping_address %}

                            
                           <p> <strong> Hey {{request.user.name | title }} </strong>, <br> You already have a saved default address , you can input a new one or tick on the use default address button </p>
                        
                             
                           

                            <div class="checkout__payment">
                                <div class="checkout__label mb-3">CHOOSE DEFAULT ADDRESS</div>
                                <div class="form-group--block">
                                    <input type="checkbox" class="" name="use_default_shipping" id="use_default_shipping">
                                        <label class="" for="use_default_shipping"><b class="text-heading">Click to use default shipping address </b></label>
                                 </div>
                               
                                <div class="checkout__payment__detail">
                                    <b>Full Name: </b> {{default_shipping_address.full_name | title}} <br>
                                    <b>Contact Number: </b> {{default_shipping_address.phone_number}} <br>
                                    <b>Email: </b> {{default_shipping_address.email}} <br>
                                    <b>Address : </b> {{default_shipping_address.address | title}} <br>
                                    <b>State: </b> {{default_shipping_address.state | title}} <br>
                                    <div class="triangle-box">
                                        <div class="triangle"></div>
                                    </div>
                                </div>
                               
                            </div>
                     
                           
                            {%endif%}
                            <div class="checkout__form">
                                    <div class="form-row hideable_shipping_form">

                                        <div class="col-12 col-lg-6 form-group--block">
                                            <label>First Name: <span>*</span></label>
                                            <input class="form-control" id="id_first_name" name="first_name" value="{{request.user.first_name}}"  type="text" >
                                        </div>

                                        <div class="col-12 col-lg-6 form-group--block">
                                            <label>Last Name: <span>*</span></label>
                                            <input class="form-control" id="id_last_name" name="last_name" value="{{request.user.last_name}}"  type="text" >
                                        </div>
                                        <div class="col-12 col-lg-6 form-group--block">
                                            <label>Contact Number: <span>*</span></label>
                                            <input class="form-control" id="id_phone_number" name="phone_number" value="{{request.user.contact_number}}"  type="text" >
                                        </div>

                                        <div class="col-12 col-lg-6 form-group--block">
                                            <label>Email: <span>*</span></label>
                                            <input class="form-control" id="id_email" name="email" value="{{request.user.email}}"  type="text" >
                                        </div>
                                        
                                        <div class="col-12 form-group--block">
                                            <label>Shipping Address: <span>*</span> </label>
                                            <input class="form-control" id="id_address_line_2" name="address_line_2" type="text" >
                                        </div>
                                       
                                        <div class="col-12 form-group--block">
                                            <label>Shipping Address 2  (optional):</label>
                                            <input class="form-control" id="id_address_line_1" name="address_line_1" type="text" >
                                        </div>

                                       
                                        <div class="col-12 col-lg-6 form-group--block">
                                            <label>Shipping Local Gov : <span>*</span></label>
                                            <input class="form-control" id="id_shipping_local_gov" name="shipping_local_gov"   type="text" >
                                        </div>

                                        <div class="col-12 col-lg-6 form-group--block">
                                            <label>State: <span>*</span></label>
                                            {{form.shipping_state }}
                                        </div>
                                       


                                        <div class="col-12 col-lg-6 form-group--block custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping">
                                            <label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
                                          </div>
  
                                    </div>
                                   
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <h3 class="checkout__title">Your Order</h3>
                            <div class="checkout__products">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="checkout__label">PRODUCT</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="checkout__label">TOTAL</div>
                                    </div>
                                </div>
                                <div class="checkout__list">
                                    {%for p in cart_items %}
                                    <div class="checkout__product__item">
                                        <div class="checkout-product">
                                            <div class="product__name">{{p.product.product_name | title}}<span>(x{{p.quantity}})</span></div>
                                           {%if p.product_variation.all %}
                                           {%for variations in p.product_variation.all %}
                                            <div class="product__unit">{{variations.variations_category | title}}: {{variations.variation_value | title}} </div>
                                            {%endfor%}
                                            {%endif%}
                                        </div>
                                        <div class="checkout-price">₦{{p.product.price | intcomma}}</div>
                                    </div>
                                    {%endfor%}
                                    
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <div class="checkout__label">Subtotal</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="checkout__label">₦{{total | intcomma}}</div>
                                    </div><hr>
                                    <div class="col-8">
                                        <div class="checkout__label">Shipping Rate</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="checkout__label">₦{{shipping_rate_per_quantity | intcomma}}</div>
                                    </div>
                                </div>
                               <hr>
                                <div class="row">
                                    <div class="col-8">
                                        <div class="checkout__total">Total</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="checkout__money">₦{{grandtotal | intcomma}}</div>
                                    </div>
                                </div>
                            </div>
                           
                            <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <span class="text-success">privacy policy.</span></p>
                            <div class="form-group--block">
                                
                      <u class="text-success">terms and conditions  </u><span>*</span></b>
                            </div><button class="checkout__order" href="#">Place an order</button>
                        </div>
                    </div>
                </form>

                </div>
            </div>
        </section>
    </main>
{% endblock %}
   
{% block inline_javascript %}
<script>
    var hideable_shipping_form = document.querySelector('.hideable_shipping_form');
    var default_card = document.querySelector('#default-card');
    // var hideable_billing_form = $('.hideable_billing_form');
    
    var use_default_shipping = document.querySelector("input[name='use_default_shipping']");
    // var use_default_billing = document.querySelector("input[name=use_default_billing]");
    
    use_default_shipping.addEventListener('change', function() {
      if (this.checked) {
        // alert('hello');
        hideable_shipping_form.style="display: none";
        default_card.style="display: unset";

      } else {
        // alert('hello world');
        hideable_shipping_form.style="display: unset";
        default_card.style="display: none";
      }
    })
    
    // use_default_billing.addEventListener('change', function() {
    //   if (this.checked) {
    //     hideable_billing_form.hide();
    //   } else {
    //     hideable_billing_form.show();
    //   }
    // })
    
  </script>
  {% endblock inline_javascript %}