{% extends "base.html" %}
{% load static humanize  crispy_forms_tags %}
{% block title %}Contact us Next Cash And Carry Online{% endblock %}


{% block content %}
    <main class="no-main">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="ps-breadcrumb__list">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="javascript:void(0);">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <section class="section--contact ps-page--business">
            <div class="container">
                <h2 class="page__title">Contact Us</h2>
                <div class="contact__content">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <div class="row">
                                <div class="col-12">
                                    <div class="contact__map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9933.101857829646!2d-0.14585693022463062!3d51.50816210000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760571466a6ab3%3A0x6f51131b5c4f0214!2sWildsmith%20Jewellery!5e0!3m2!1sen!2s!4v1597894270592!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="contact__title">Contact Info</h3>
                                    <div class="contact__info">
                                        <p> <span>Hotline Free: </span>(7:00 - 21:30)</p>
                                        <p class="contact__info__phone">0700 700 0001</p>
                                        <p class="contact__info__phone">0700 700 0001</p>
                                        <p> <span>Head office: </span>Opp Jss, Ahmadu Bello, Central, Abuja, Nigeria </p>
                                        <p> <span>Email us: </span><a href="mailto:support@nextcashandcarry.com.ng" class="__cf_email__" >support@nextcashandcarry.com.ng</a></p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <h3 class="contact__title">Follow Us</h3>
                                    <div class="contact__social"><a class="icon_social facebook" href="#"><i class="fa fa-facebook-f"></i></a><a class="icon_social twitter" href="#"><i class="fa fa-twitter"></i></a><a class="icon_social google" href="#"><i class="fa fa-google-plus"></i></a><a class="icon_social youtube" href="#"><i class="fa fa-youtube"></i></a><a class="icon_social wifi" href="#"><i class="fa fa-wifi"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <form action="#" method="post">
                                {%csrf_token%}
                                <div class="contact__form">
                                    <h3 class="contact__title">Contact Form</h3>
                                    <p>please send us a message by filling out the form below and we will get back with you shortly.</p>
                                    <div class="form-row">
                                        <div class="col-12 form-group--block">
                                            <label>Name: <span>*</span></label>
                                            <input class="form-control" type="text" required>
                                        </div>
                                        <div class="col-12 form-group--block">
                                            <label>Email: <span>*</span></label>
                                            <input class="form-control" type="text" required>
                                        </div>
                                        <div class="col-12 form-group--block">
                                            <label>Subject (optional): </label>
                                            <input class="form-control" type="text" required>
                                        </div>
                                        <div class="col-12 form-group--block">
                                            <label>Message: <span>*</span></label>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn ps-button contact__send">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

  