{% extends "base.html" %}
{% load static humanize %}
{% block title %}product details{% endblock %}

    {% block content %}
    <main class="no-main">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="ps-breadcrumb__list">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="active"><a href="#">{{product.category}}</a></li>
                    <li><a href="javascript:void(0);">{{product.product_name }}</a></li>
                </ul>
            </div>
        </div>
        <section class="section--product-type">
            <div class="container">
                <div class="product__header">
                    <h3 class="product__name">{{product.product_name | title}}</h3>
                    <div class="row">
                        <div class="col-12 col-lg-7 product__code">
                            <select name="rating" class="rating-stars">
                                <option value="1" {%if product.averageReview == 1 %} selected="selected" {%endif%} >1</option>
                                <option value="2" {%if product.averageReview == 2 %} selected="selected" {%endif%} >2</option>
                                <option value="3" {%if product.averageReview == 3 %} selected="selected" {%endif%} >3</option>
                                <option value="4"  {%if product.averageReview == 4 %} selected="selected" {%endif%} >4</option>
                                <option value="5" {%if product.averageReview == 5 %} selected="selected" {%endif%} >5</option>
                                </select><span class="product__review">{{review_count}} Customer Review</span><span class="product__id">SKU: <span>#{{product.product_sku}}</span></span>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="ps-social--share"><a class="ps-social__icon facebook" href="#"><i class="fa fa-thumbs-up"></i><span>Like</span><span class="ps-social__number">0</span></a><a class="ps-social__icon facebook" href="#"><i class="fa fa-facebook-square"></i><span>Like</span><span class="ps-social__number">0</span></a><a class="ps-social__icon twitter" href="#"><i class="fa fa-twitter"></i><span>Like</span></a><a class="ps-social__icon" href="#"><i class="fa fa-plus-square"></i><span>Like</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="product__detail">
                    <div class="row">
                        <div class="col-12 col-lg-9">

                            <form action="{%url 'add_to_cart' product.id %}" method="POST">
                                {%csrf_token%}

                            <div class="ps-product--detail">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="ps-product__variants">
                                            <div class="ps-product__gallery">
                                                <div class="ps-gallery__item active"><img src="{{product.image.url}}" alt="alt" /></div>
                                                {%for image in images %}
                                                <div class="ps-gallery__item">
                                                    <img src="{{image.image.url}}" alt="{{product.product_name | title}}" />
                                                </div>
                                                {%endfor%}

                                            </div>
                                            <div class="ps-product__thumbnail">
                                                <div class="ps-product__zoom"><img id="ps-product-zoom" src="{{product.image.url}}" alt="alt" />
                                                    <ul class="ps-gallery--poster" id="ps-lightgallery-videos" data-video-url="#">
                                                        <li data-html="#video-play"><span></span><i class="fa fa-play-circle"></i></li>
                                                    </ul>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="ps-product__sale"><span class="price-sale">₦{{product.price | intcomma }}</span> {%if product.old_price %} <span class="price">₦{{product.old_price | intcomma}}</span> {% endif %} <span class="ps-product__off">34% Off</span>
                                        </div>
                                        

                                        {%if product.productvariation_set.sizes %}
                                        <div class="ps-product__variable"><span>Size:</span>
                                            <select name="size" class="form-control">
                                                <option value="" disabled selected>Select Size</option>

                                                {%for i in product.productvariation_set.sizes %}
                                                <option value="{{i.variation_value}}">{{i.variation_value}}</option>
                                               {%endfor%}
                                            </select>
                                        </div>
                                        {%endif%}

                                        {%if product.productvariation_set.colors %}

                                            <div class="ps-product__variable"><span>Color:</span>
                                                <select name="color" class="form-control">
                                                    <option value="" disabled selected>Select Color</option>

                                                    {%for i in product.productvariation_set.colors %}
                                                    <option value="{{i.variation_value}}">{{i.variation_value}}</option>
                                                {%endfor%}
                                                </select>
                                            </div>

                                        {%endif%}
                                       
                                        {%if product.stock <= 0 %}
                                        <div class="ps-product__avai alert__error">Availability: <span>Out Of Stock</span>
                                        </div>
                                        {%else%}
                                        <div class="ps-product__avai alert__success">Availability: <span>{{product.stock}} in stock</span>
                                        </div>
                                        {%endif%}

                                        <div class="ps-product__info">
                                            <ul class="ps-list--rectangle">
                                                <li> <span><i class="icon-square"></i></span>Made from BPA free pkastic</li>
                                                <li> <span><i class="icon-square"></i></span>500ml volume</li>
                                                <li> <span><i class="icon-square"></i></span>Hand wash only</li>
                                            </ul>
                                        </div>
                                        {%if product.stock > 0 %}

                                        <div class="ps-product__shopping">
                                            {%if request.user.is_authenticated %}
                                            <a class="ps-product__addcart ps-button btn-warning" style="color: yellow"  href="{%url 'add_to_wishlist' product.id %}"><i class="icon-heart"></i>Add to Wishlist</a>
                                            {%endif %}
                                            <button type="submit" class="ps-product__addcart ps-button"  ><i class="icon-cart"></i>Add to cart</button> 
                                           
                                           
                                        </div>
                                        
                                      
                                        <div class="ps-product__footer"><a class="ps-product__shop" href="shop-view-grid.html"><i class="icon-store"></i><span>Store</span></a><button type="submit" class="ps-product__addcart ps-button" ><i class="icon-cart"></i>Add to cart</button></div>
                                        {%endif%}

                                    </div>
                                </div>
                            </form>


                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="ps-product--extention">
                                <div class="extention__block">
                                    <div class="extention__item">
                                        <div class="extention__icon"><i class="icon-truck"></i></div>
                                        <div class="extention__content"> <b class="text-black">Free Shipping </b>apply to all orders over <span class="text-success">₦100</span></div>
                                    </div>
                                </div>
                                <div class="extention__block">
                                    <div class="extention__item">
                                        <div class="extention__icon"><i class="icon-leaf"></i></div>
                                        <div class="extention__content">Guranteed <b class="text-black">100% Organic </b>from natural farmas </div>
                                    </div>
                                </div>
                                <div class="extention__block">
                                    <div class="extention__item border-none">
                                        <div class="extention__icon"><i class="icon-repeat-one2"></i></div>
                                        <div class="extention__content"> <b class="text-black">1 Day Returns </b>if you change your mind</div>
                                    </div>
                                </div>
                                <div class="extention__block extention__contact">
                                    <p> <span class="text-black">Hotline Order: </span>Free 7:00-21:30</p>
                                    <h4 class="extention__phone"> 0700 700 0001</h4>
                                    <h4 class="extention__phone"> 0700 700 0001</h4>
                                </div>
                                {%if not request.user.is_authenticated %}
                                <p class="extention__footer">Become a Customer? <a href="{%url 'account_signup'%}">Register now</a></p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__content">
                    <ul class="nav nav-pills" role="tablist" id="productTabDetail">
                        <li class="nav-item"><a class="nav-link active" id="description-tab" data-toggle="tab" href="#description-content" role="tab" aria-controls="description-content" aria-selected="true">Description</a></li>
                        
                        <li class="nav-item"><a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews-content" role="tab" aria-controls="reviews-content" aria-selected="false">Reviews({{review_count}})</a></li>
                        <li class="nav-item"><a class="nav-link" id="qa-tab" data-toggle="tab" href="#qa-content" role="tab" aria-controls="qa-content" aria-selected="false">Q&A</a></li>
                        <li class="nav-item"><a class="nav-link" id="vendor-tab" data-toggle="tab" href="#vendor-content" role="tab" aria-controls="vendor-content" aria-selected="false">Vendor Info</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="description-content" role="tabpanel" aria-labelledby="description-tab">
                            <p class="block-content">{{product.description}}</p>
                        </div>
                       
                        <div class="tab-pane fade" id="reviews-content" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="ps-product--reviews">
                                <div class="row">
                                    <div class="col-12 col-lg-5">
                                        <div class="review__box">
                                            <div class="product__rate">{{product.averageReview}}</div>
                                            <select name="rating" class="rating-stars">
                                            <option value="1" {%if product.averageReview == 1 %} selected="selected" {%endif%} >1</option>
                                            <option value="2" {%if product.averageReview == 2 %} selected="selected" {%endif%} >2</option>
                                            <option value="3" {%if product.averageReview == 3 %} selected="selected" {%endif%} >3</option>
                                            <option value="4"  {%if product.averageReview == 4 %} selected="selected" {%endif%} >4</option>
                                            <option value="5" {%if product.averageReview == 5 %} selected="selected" {%endif%} >5</option>
                                            </select>
                                            <p>Avg. Star Rating: <b class="text-black">(4 reviews)</b></p>
                                            <div class="review__progress">
                                                <div class="progress-item"><span class="star">5 Stars</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div><span class="percent">80%</span>
                                                </div>
                                                <div class="progress-item"><span class="star">4 Stars</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div><span class="percent">20%</span>
                                                </div>
                                                <div class="progress-item"><span class="star">3 Stars</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div><span class="percent">0%</span>
                                                </div>
                                                <div class="progress-item"><span class="star">2 Stars</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div><span class="percent">0%</span>
                                                </div>
                                                <div class="progress-item"><span class="star">1 Stars</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div><span class="percent">0%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-7">

                                        {%if request.user.is_authenticated %}
                                        {%if orderproduct %}
                                        <div class="review__title">Add A Review</div>
                                        <p class="mb-0">Your email will not be published. Required fields are marked <span class="text-danger">*</span></p>
                                        {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}

                                        <form action="{%url 'review' product.id %}" method="post">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-12 form-group--block">
                                                    <div class="input__rating">
                                                        <label>Your rating: <span>*</span></label>
                                                        <select name="rating" required class="rating-stars">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4" selected="selected">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 form-group--block">
                                                    <label>Subject: <span>*</span></label>
                                                    <input type="text" name="subject" class="form-control" id="" required>
                                                </div>
                                                <div class="col-12 form-group--block">
                                                    <label>Review: <span>*</span></label>
                                                    <textarea name="review" class="form-control" required></textarea>
                                                </div>
                                               
                                                <div class="col-12 form-group--block">
                                                    <button type="submit" class="btn ps-button ps-btn-submit">Submit Review</button>
                                                </div>
                                            </div>
                                        </form>

                                        {%else%}
                                        <div class="review__title">Hey {{request.user.name | title}}, <br>
                                            You need to Order the product , so to enable you to review on it.</div>
                                        {%endif%}
                                        {%else%}
                                        <div class="review__title">You must be login to post a review about the product</div>
                                        <a href="{%url 'account_login'%}">Login Here</a>   
                                        {%endif%}
                                    </div>
                                </div>
                                <div class="ps--comments">
                                    {%for review in reviews %}
                                    <h5 class="comment__title">{{review_count}} Comments</h5>
                                    {%endfor%}

                                    <ul class="comment__list">
                                       {%for review in reviews %}
                                        <li class="comment__item">
                                            <div class="item__avatar"><img src="{% static 'nextonline/img/blogs/comment_no_avatar.png' %}" alt="alt" /></div>
                                            <div class="item__content">
                                                <div class="item__name">{{review.user.name | title}}</div>
                                                <div class="item__date">- {{review.created_date}}</div>
                                                <div class="item__check"> <i class="icon-checkmark-circle"></i>Verified Purchase</div>
                                                <div class="item__rate">
                                                <select class="rating-stars" readonly>
                                                    <option  {%if review.rating == 1 %} selected="selected" {%endif%}>1</option>
                                                    <option   {%if review.rating == 2 %} selected="selected" {%endif%}>2</option>
                                                    <option  {%if review.rating == 3 %} selected="selected" {%endif%}>3</option>
                                                    <option   {%if review.rating == 4 %} selected="selected" {%endif%}>4</option>
                                                    <option    {%if review.rating == 5 %} selected="selected" {%endif%}>5</option>
                                                </select>
                                                </div>
                                                <div class="item__name">{{review.subject | title}}</div>
                                                <p class="item__des">{{review.review}}</p>
                                            </div>
                                        </li>

                                        {%endfor%}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="qa-content" role="tabpanel" aria-labelledby="qa-tab">Q&A</div>
                        <div class="tab-pane fade" id="vendor-content" role="tabpanel" aria-labelledby="vendor-tab">Vendor Info</div>
                    </div>
                </div>
                
                {%if product.category.product_set.all %}
                <div class="product__related" id="productTabDetailContent">
                    <h3 class="product__name">Related Products</h3>
                    <div class="owl-carousel" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="5" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
                        {%for i in product.category.product_set.all %}
                        <div class="ps-post--product">
                            <div class="ps-product--standard"><a href="{{i.get_absolute_url}}"><img class="ps-product__thumbnail" src="{{i.image.url}}" alt="alt" /></a>
                                <div class="ps-product__content">
                                    <p class="ps-product__type"><i class="icon-store"></i>Next </p>
                                    <h5><a class="ps-product__name" href="{{i.get_absolute_url}}">{{i.product_name }}</a></h5>
                                    <p class="ps-product__unit">{{i.description | truncatechars:70}}</p>
                                    <div class="ps-product__rating">
                                        <select class="rating-stars">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4" selected="selected">4</option>
                                            <option value="5">5</option>
                                        </select><span>(2)</span>
                                    </div>
                                    <p class="ps-product-price-block"><span class="ps-product__sale">₦{{i.price | intcomma}}</span>{%if i.old_price %}<span class="ps-product__price">₦{{i.old_price | intcomma}}</span> {%endif%}
                                    </p>
                                </div>
                                <div class="ps-product__footer">
                                    <div class="ps-product__box"><a class="btn btn-warning" href="{{p.get_absolute_url}}"><span style="color:rgb(0, 0, 0); font-size:14px; font-weight:bold;">Wishlist</span></a><a class="btn btn-primary" href="{{p.get_absolute_url}}"> <span style="color:white; font-size:14px; font-weight:bold;">Add To Cart</span> </a></div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                      
                    </div>
                </div>
                {%endif%}

            </div>
           
           
        </section>
      
    </main>
    {% endblock %}
   