<div class="ps-home--block">
    <div class="ps-block__header mobile">
        <div class="ps-block__title">Fresh Foods</div>
        <div class="ps-block__list">
            <ul>
                <li><a href="shop-categories.html">Best Seller</a></li>
                <li class="active"><a href="shop-categories.html">Meat & Poultry</a></li>
                <li><a href="shop-categories.html">Fruit</a></li>
                <li><a href="shop-categories.html">Vegetables</a></li>
                <li><a href="shop-categories.html">Milk, Butter & Eggs</a></li>
                <li><a href="shop-categories.html">Fish</a></li>
                <li class="active"><a href="shop-categories.html">View all <i class='icon-chevron-right'></i></a></li>
            </ul>
        </div>
    </div>
    <div class="ps-block__content">
        <div class="desktop-only ps-block--freshfood">
            <div class="ps-block__thumbnail"><a href="shop-view-grid.html"><img src="{% statci 'nextonline/img/promotion/full-width/fresh-food.jpg' %}" alt></a></div>
            <div class="ps-block--products">
                <div class="owl-carousel" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="6" data-owl-duration="1000" data-owl-mousedrag="on">
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_1a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Farmart</p>
                            <h5><a class="ps-product__name" href="product-default.html">Corn, Yellow Sweet</a></h5>
                            <p class="ps-product__unit">4 per pack</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select><span>(0)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__price-default">$4.49</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$4.49</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_2a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a><span class="ps-badge ps-product__new">New </span>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Sun Farm</p>
                            <h5><a class="ps-product__name" href="product-default.html">Oranges, Valencia</a></h5>
                            <p class="ps-product__unit">5 per pack</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                </select><span>(6)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__sale">$3.99</span><span class="ps-product__price">$4.90</span><span class="ps-product__off">15% Off</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$3.99</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_13a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Nesco</p>
                            <h5><a class="ps-product__name" href="product-default.html">Celery</a></h5>
                            <p class="ps-product__unit">200g</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select><span>(0)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__price-default">$4.99</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$4.99</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_4a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a><span class="ps-badge ps-product__offbadge">25% Off </span>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Karery Store</p>
                            <h5><a class="ps-product__name" href="product-default.html">Watermelon, Seedless</a></h5>
                            <p class="ps-product__unit">450g</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                </select><span>(13)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__sale">$6.90</span><span class="ps-product__price">$9.99</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$6.90</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_16a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a><span class="ps-badge ps-product__offbadge">35% Off </span>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Karery Store</p>
                            <h5><a class="ps-product__name" href="product-default.html">Broccoli Crowns</a></h5>
                            <p class="ps-product__unit">300g</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5" selected="selected">5</option>
                                </select><span>(4)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__sale">$3.90</span><span class="ps-product__price">$9.99</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$3.90</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_17a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Farmart</p>
                            <h5><a class="ps-product__name" href="product-default.html">Tomato Nature Sweet Glor</a></h5>
                            <p class="ps-product__unit">300g</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select><span>(0)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__price-default">$12.00</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$12.00</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_18a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a><span class="ps-badge ps-product__stock">Out of stock </span>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Sun Farm</p>
                            <h5><a class="ps-product__name" href="product-default.html">Oniins, Green</a></h5>
                            <p class="ps-product__unit">300g</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                </select><span>(2)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__sale">$6.90</span><span class="ps-product__price">$9.99</span><span class="ps-product__off">35% Off</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$6.90</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_31a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Farmart</p>
                            <h5><a class="ps-product__name" href="product-default.html">Pork Steak Jumbo Pack</a></h5>
                            <p class="ps-product__unit">1kg</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select><span>(0)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__price-default">$6.99</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$6.99</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-only">
            <div class="row">
                <div class="col-6 col-md-4">
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_1a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Farmart</p>
                            <h5><a class="ps-product__name" href="product-default.html">Corn, Yellow Sweet</a></h5>
                            <p class="ps-product__unit">4 per pack</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select><span>(0)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__price-default">$4.49</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$4.49</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_2a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a><span class="ps-badge ps-product__new">New </span>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Sun Farm</p>
                            <h5><a class="ps-product__name" href="product-default.html">Oranges, Valencia</a></h5>
                            <p class="ps-product__unit">5 per pack</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                </select><span>(6)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__sale">$3.99</span><span class="ps-product__price">$4.90</span><span class="ps-product__off">15% Off</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$3.99</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_13a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Nesco</p>
                            <h5><a class="ps-product__name" href="product-default.html">Celery</a></h5>
                            <p class="ps-product__unit">200g</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select><span>(0)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__price-default">$4.99</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$4.99</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_4a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a><span class="ps-badge ps-product__offbadge">25% Off </span>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Karery Store</p>
                            <h5><a class="ps-product__name" href="product-default.html">Watermelon, Seedless</a></h5>
                            <p class="ps-product__unit">450g</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                </select><span>(13)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__sale">$6.90</span><span class="ps-product__price">$9.99</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$6.90</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_16a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a><span class="ps-badge ps-product__offbadge">35% Off </span>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Karery Store</p>
                            <h5><a class="ps-product__name" href="product-default.html">Broccoli Crowns</a></h5>
                            <p class="ps-product__unit">300g</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5" selected="selected">5</option>
                                </select><span>(4)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__sale">$3.90</span><span class="ps-product__price">$9.99</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$3.90</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_17a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Farmart</p>
                            <h5><a class="ps-product__name" href="product-default.html">Tomato Nature Sweet Glor</a></h5>
                            <p class="ps-product__unit">300g</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select><span>(0)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__price-default">$12.00</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$12.00</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_18a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a><span class="ps-badge ps-product__stock">Out of stock </span>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Sun Farm</p>
                            <h5><a class="ps-product__name" href="product-default.html">Oniins, Green</a></h5>
                            <p class="ps-product__unit">300g</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                </select><span>(2)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__sale">$6.90</span><span class="ps-product__price">$9.99</span><span class="ps-product__off">35% Off</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$6.90</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="ps-product--standard"><a href="product-default.html"><img class="ps-product__thumbnail" src="{% statci 'nextonline/img/products/01-Fresh/01_31a.jpg' %}" alt="alt" /></a><a class="ps-product__expand" href="javascript:void(0);" data-toggle="modal" data-target="#popupQuickview"><i class="icon-expand"></i></a>
                        <div class="ps-product__content">
                            <p class="ps-product__type"><i class="icon-store"></i>Farmart</p>
                            <h5><a class="ps-product__name" href="product-default.html">Pork Steak Jumbo Pack</a></h5>
                            <p class="ps-product__unit">1kg</p>
                            <div class="ps-product__rating">
                                <select class="rating-stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select><span>(0)</span>
                            </div>
                            <p class="ps-product-price-block"><span class="ps-product__price-default">$6.99</span>
                            </p>
                        </div>
                        <div class="ps-product__footer">
                            <div class="def-number-input number-input safari_only">
                                <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                            </div>
                            <div class="ps-product__total">Total: <span>$6.99</span>
                            </div>
                            <button class="ps-product__addcart" data-toggle="modal" data-target="#popupAddToCart"><i class="icon-cart"></i>Add to cart</button>
                            <div class="ps-product__box"><a class="ps-product__wishlist" href="wishlist.html">Wishlist</a><a class="ps-product__compare" href="wishlist.html">Compare</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>